always-auth=true
@alwaysgeeky-games:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/alwaysgeeky-games/:_authToken=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
registry=https://registry.npmjs.org